In [1]:
import nltk
import re

In [2]:
paragraph = 'Mario Hermoso One of the season’s big surprises. And he was so close to joining Real Sociedad on loan before it began.Hermoso was instrumental in the Spanish champions’ attacking evolution, as his medium-and long-range passing broke lines and advanced the ball into more-dangerous positions. Simeone’s Atlético hasn’t had a left-footed center back who can swiftly carry the ball forward and progress the play into midfield — even into the attacking third. Hermoso averaged nearly 77 touches per 90 minutes and completed 85 percent of his passes — no Atleti defender took more touches, and no center back carried the ball five yards toward goal more frequently, either. Simeone miscast Hermoso during the 2019/20 transition year and played him in a 4-4-2 that was not tailored to his strengths. As a result, Hermoso became arguably the biggest beneficiary from Atlético’s tactical overhaul in 2020/21. The ex-Real Madrid defender enjoyed a sterling season, developing into an elite ball-playing center back who should be playing for Spain at EURO 2020.'

In [3]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [4]:
wordnet  = WordNetLemmatizer()

In [5]:
sentences = nltk.sent_tokenize(paragraph)

In [12]:
sentences

['Mario Hermoso One of the season’s big surprises.',
 'And he was so close to joining Real Sociedad on loan before it began.Hermoso was instrumental in the Spanish champions’ attacking evolution, as his medium-and long-range passing broke lines and advanced the ball into more-dangerous positions.',
 'Simeone’s Atlético hasn’t had a left-footed center back who can swiftly carry the ball forward and progress the play into midfield — even into the attacking third.',
 'Hermoso averaged nearly 77 touches per 90 minutes and completed 85 percent of his passes — no Atleti defender took more touches, and no center back carried the ball five yards toward goal more frequently, either.',
 'Simeone miscast Hermoso during the 2019/20 transition year and played him in a 4-4-2 that was not tailored to his strengths.',
 'As a result, Hermoso became arguably the biggest beneficiary from Atlético’s tactical overhaul in 2020/21.',
 'The ex-Real Madrid defender enjoyed a sterling season, developing into an elite ball-playing center back who should be playing for Spain at EURO 2020.']

In [6]:
corpus = []

In [13]:
for i in range(len(sentences)):
    review = re.sub('[a-zA-z]', ' ', sentences[i])
    review = review.lower()
    review = review.split()
    review = [wordnet.lemmatize(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [14]:
corpus

['’ .',
 '. ’ , - - - .',
 '’ é ’ - — .',
 '77 90 85 — , , .',
 '2019/20 4-4-2 .',
 ', é ’ 2020/21.',
 '- , - 2020.',
 '’ .',
 '. ’ , - - - .',
 '’ é ’ - — .',
 '77 90 85 — , , .',
 '2019/20 4-4-2 .',
 ', é ’ 2020/21.',
 '- , - 2020.']

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer()
X = tfv.fit_transform(corpus).toarray()

In [16]:
X

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.57735027,
        0.57735027, 0.57735027],
       [0.70710678, 0.70710678, 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.62670725, 0.77925478, 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.57735027,
        0.57735027, 0.57735027],
       [0.70710678, 0.70710678, 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.62670725, 0.77925478, 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        ]])

In [17]:
import pandas as pd
pd.DataFrame(X)

           0         1         2         3        4        5        6
0   0.000000  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
1   0.000000  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
2   0.000000  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
3   0.000000  0.000000  0.000000  0.000000  0.57735  0.57735  0.57735
4   0.707107  0.707107  0.000000  0.000000  0.00000  0.00000  0.00000
5   0.000000  0.000000  0.626707  0.779255  0.00000  0.00000  0.00000
6   0.000000  0.000000  1.000000  0.000000  0.00000  0.00000  0.00000
7   0.000000  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
8   0.000000  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
9   0.000000  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
10  0.000000  0.000000  0.000000  0.000000  0.57735  0.57735  0.57735
11  0.707107  0.707107  0.000000  0.000000  0.00000  0.00000  0.00000
12  0.000000  0.000000  0.626707  0.779255  0.00000  0.00000  0.00000
13  0.000000  0.000000  1.000000  0.000000  0.00000  0.00000  0.00000